@model SendBroadcast.Models.BotApplication

@{
    ViewBag.Title = "Excluir Aplicação";
}

<h2>Excluir Aplicação</h2>

<h3>Você tem certeza que deseja deletar essa aplicação?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BotName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BotIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BotIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BotAccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BotAccessToken)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
