@model IEnumerable<SendBroadcast.Models.BotApplication>

@{
    ViewBag.Title = "Início";
}

<h2>Início - Aplicações</h2>

<p>
    @Html.ActionLink("Criar Nova Aplicação", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BotIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BotAccessToken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BotIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BotAccessToken)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.BotId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.BotId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.BotId })
        </td>
    </tr>
}

</table>
